header {
    height: 85px;
    background-color: blue;
    color: white;
    text-align: center;
    border: 4px solid #000;
}

.main-content-container {    
    border: 1px solid;
    display: inline-block;
    width: 70%;
}
.main-container-article {    
    min-height: 600px;
    display: inline-block;
    width: 70%;
}
.main-container-sidebar {
    border: 1px solid black;
    display: inline-block;
    width: 29%;
    float: right;
}
footer {
        height: 145px;
    background-color: blue;
    color: white;
    text-align: center;
    border: 4px solid #000;
}
